@font-face {
  font-family: "League Gothic";
  src: url("fonts/League_Gothic/static/LeagueGothic/LeagueGothic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: "League Spartan";
  src: url("fonts/League_Spartan/static/LeagueSpartan-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/static/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/static/Montserrat-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300 800;
}

/*--------------- Body ---------------*/
.body {
  border: 2px solid royalblue;
  width: 1300px;
  margin: 50px auto 0;
  color: rgb(51,51,51);
}

/*------------------ ÁREAS ------------------*/
.area-one, .area-two, .area-three {
  display: flex;
}

.area-one {
  border: 2px solid salmon;
  margin-bottom: 20px;
}

.area-two {
  border: 2px solid aqua;
  margin-bottom: 40px;
  margin-top: 30px;
}

.area-three {
  border: 2px solid red;
  margin-bottom: 40px;
}

/*------------------ Área 01 ------------------*/
.title-c {
  border: 2px solid rebeccapurple;
  width: 940px;
}

.fst-title {
  font-family: "League Spartan", "PT Sans", Tahoma, sans-serif;
  font-size: 3em;
  margin: 0 0 20px;
}

.fst-text {
  color: rgb(143, 143, 143);
}

.side-ad {
  border: 2px solid aqua;
  margin: 0 0 auto auto;
  width: 300px;
}

/*------------------ Área 02 ------------------*/
.img-area {
  display: inline-block;
  border: 2px solid pink;
  margin: auto 15px auto 0;
  height: fit-content;
  width: 630px;
}

.main-img {
  width: 630px;
  height: auto;
}

.img-area h3 {
  padding: 15px 0 10px;
}

.lateral-02 {
  display: block;
  border: 2px solid pink;
  margin: 0 auto auto 15px;
  width: 280px; /*MUDAR PARA 291*/
  height: 480px;
}

.lateral-02 .one, .lateral-02 .two {
  margin-bottom: 20px;
}

.side-news {
  border: 2px solid rgb(0, 255, 21);
  display: inline-block;
  width: 300px;
}

.img-s {
  width: 300px;
  height: auto;
}

.A2-space {
  padding-bottom: 20px;
}

/*------------------ Área 03 ------------------*/
.news-block {
  width: 321px;
  border: 2px solid rebeccapurple;
  padding-right: 15px;
}

.A31 {
  width: 306px;
}

.A32, .A33 {
  padding-left: 15px;
}

.img-n {
  width: 291px;
  height: auto;
}

.news {
  border: 2px solid royalblue;
  margin-bottom: 35px;
}

.live-two {
  margin-bottom: 0px;
} /* Deletar .live-two e trocar .news por .live-one ou .news .live-one*/

/*------------------ Notícias ------------------*/
.subj-area {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(64, 64, 64);
}

/*------------------ Links ------------------*/
.body a:link, .body a:visited {
  color: rgb(51,51,51);
}

.body a:hover, .body a:active {
  color: rgb(11, 76, 114);
}

/*------------------ Images ------------------*/
.body h3, .body h5, .body p {
  margin: 0;
}

/*------------------ Images ------------------*/
footer {
  background-color: rgb(39, 39, 39);
  color: white;
  height: 300px;
  display: flex;
}

.footer-info {
  margin: auto;
}