@font-face {
  font-family: "League Gothic";
  src: url("styles/fonts/League_Gothic/static/LeagueGothic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: "League Spartan";
  src: url("styles/fonts/League_Spartan/static/LeagueSpartan-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: Montserrat;
  src: url("styles/fonts/Montserrat/static/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("styles/fonts/Montserrat/static/Montserrat-Italic.woff2") format("woff2");
  font-style: italic;
}

body {
  font-family: Montserrat, "PT Sans", Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/*------------------- COMPANY AD -------------------*/
.ad, .company-logo {
  background-color: rgb(38, 38, 38);
  color: white !important;
  height: 40px;
}

.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  font-family: "League Spartan", "PT SANS", Tahoma, sans-serif;
  font-size: 1.5em;
}
/*------------------- HEADER -------------------*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 40px 30px 40px;
}

.h-button, .header-button, .slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-button {
  gap: 8px;
}

/*------------------- HEADING + SLOGAN -------------------*/
.heading {
  font-family: "League Gothic", "PT Sans", Tahoma, sans-serif;
  font-size: 4em;
}
.slogan {
  padding-top: 10px;
}

/*------------------- MAIN NAVBAR -------------------*/
.line {
  border-top: 1px solid red;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 20px 0px;
  font-size: 18px;
}

/*------------------- SECOND AD -------------------*/
.second.ad {
  background-color: rgb(4, 54, 84);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.corpo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 300px;
}

.bttn {
  font-family: Montserrat, "PT Sans", Tahoma, sans-serif;
  background-color: rgb(255, 222, 51);
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
}

.bttn:hover {
  background-color: rgb(19, 105, 155);
  color: white;
}
/*------------------- BODY -------------------*/
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.row-one {
  width: 1320px;
}

.subhead {
  color: rgb(124, 124, 124);
}

/*------------ MAIN HEADLINE ------------*/
.main-headline-head {
  color: rgb(124, 124, 124);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.material-symbols-outlined.share {
  font-size: 100%;
}

.material-symbols-outlined.bookmark {
  font-size: 110%;
}

.hmp-r1-headline {
  width: 960px;
}

.r1.headline {
  margin-bottom: 15px;
  font-family: "League Spartan", "PT Sans", Tahoma, sans-serif;
}


/*------------------- FOOTER -------------------*/

/*------------------- GENERAL STYLES -------------------*/
/*------------ TYPE SELECTORS ------------*/
h2 {
  font-size: 2em;
}

h5 {
  font-size: 16px;
}
/*------------ ANCHOR LINKS ------------*/
a {
  text-decoration: none;
}

a:link, a:visited {
  color: rgb(51,51,51);
}

a:hover, .subhead:hover {
  color: rgb(11, 76, 114);
}

a:active, .subhead:active {
  color: rgb(6, 42, 63);
}